In [ ]:
f(x) = sin(x)
##the function sin(x) will produce a repeating graph increasing on each (0,2pi) and (3pi/2, 2pi), decreasing on each (pi/2,3pi/2).

In [ ]:
g(x) = cos(x)
##the function cos(x) will also produce a repeating graph increasing on each (0,pi) and decreasing on (pi, 2pi).

In [ ]:
from tabulate import tabulate 
##import modules 

data = (0,2Pi,1000); 
##add data array 

col_names = ['sin(x)','cos(x)']
##define header names

print(tabulate(data, headers=col_names)
##display table?

In [8]:
my_list = range(0,6.28,10) 
for i in my_list: 
    print(i)

TypeError: 'float' object cannot be interpreted as an integer